.fundo-alinhamento {
    padding: 20px;
    background-color: #d1c4e9;
}

.fundo-transform {
    padding: 20px;
    background-color: #c8e6c9;
}

.fundo-decoration {
    padding: 20px;
    background-color: #ccc;
}

.alinhado-esquerda {
    text-align: left;
}

.alinhado-direita {
    text-align: right;
}

.alinhado-centro{
    text-align: center;
}

.alinhado-justificado {
    text-align: justify;
}