/* p:first-child {
    color: red;
}

p:last-child{
    color: pink;
}

p:not(.padrao){
    color: blueviolet;
} */

p:nth-child(odd){
    color: brown;
}

/* li:nth-child(n+3):nth-child(-n+5){
    color: blue;
} */

li:nth-last-child(1){
    color: aqua;
}

p:only-child{
    color: seagreen;
}